In [75]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import numpy as np

In [76]:
weather_dfs = pd.read_html('http://www.data.jma.go.jp/obd/stats/etrn/view/annually_s.php?prec_no=45&block_no=47682&year=&month=&day=&view=', skiprows=3, index_col=0)

In [77]:
chiba_df = pd.read_excel('chiba.xls', header=[4, 5, 6], skip_footer=3)

In [171]:
weather_df = weather_dfs[0]

In [172]:
def clean(x):
    if isinstance(x, str):
        return x.replace(']', '')
X = []
for i in weather_df.columns.values:
    X.append(weather_df[i].apply(clean).loc[1973:2012].values)

In [173]:
X = X[:]

SyntaxError: invalid syntax (<ipython-input-173-215017cb5f1a>, line 1)

In [147]:
# 「…」と「_」は除外
chiba_df.tail()

年次          だいこん                 春だいこん               夏だいこん            秋冬だいこん  \
            作付面積     収穫量     出荷量  作付面積    収穫量    出荷量  作付面積   収穫量  出荷量   作付面積
              ha       t       t    ha      t      t    ha     t    t     ha
平.20(2008)  3180  176200  158900  1240  71400  65700    42  1070  853   1900
平.21(2009)  3140  172000  156000  1250  70100  64500    41  1050  843   1850
平.22(2010)  3110  163500  147500  1260  69400  62900    38   882  671   1810
平.23(2011)  3020  163300  147500  1220  70000  63500    37   947  733   1760
平.24(2012)  2960  155200  140500  1220  67000  61000    31   769  588   1710

年次          ...   春夏にんじん 冬にんじん                 ごぼう               秋冬さといも  \
            ...      出荷量  作付面積     収穫量    出荷量 作付面積    収穫量    出荷量   作付面積
            ...        t    ha       t      t   ha      t      t     ha
平.20(2008)  ...    26700  2530   90300  84000  683  14600  13000   1890
平.21(2009)  ...    26400  2560  103200  96200  657  13900  12400   1860
平.22(2010)  ...    24000  2540   86600  80200  581  11600  10300   1790
平.23(2011)  ...    25100  2560   93700  86100  524  10700   9540   1760
平.24(2012)  ...    23900  2500   84800  77800  472   9490   8440   1720

年次
              収穫量    出荷量
                t      t
平.20(2008)  25700  19300
平.21(2009)  26000  19200
平.22(2010)  22400  16600
平.23(2011)  23200  17100
平.24(2012)  22400  16500

[5 rows x 30 columns]

In [148]:
chiba_df = chiba_df.apply(lambda x: x.replace('…', np.nan))
chiba_df = chiba_df.apply(lambda x: x.replace('-', np.nan))

In [149]:
chiba_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 昭.48(1973) to 平.24(2012)
Data columns (total 30 columns):
(だいこん, 作付面積, ha)      40 non-null int64
(だいこん, 収穫量, t)        40 non-null int64
(だいこん, 出荷量, t)        40 non-null int64
(春だいこん, 作付面積, ha)     40 non-null int64
(春だいこん, 収穫量, t)       40 non-null int64
(春だいこん, 出荷量, t)       40 non-null int64
(夏だいこん, 作付面積, ha)     40 non-null int64
(夏だいこん, 収穫量, t)       40 non-null int64
(夏だいこん, 出荷量, t)       40 non-null int64
(秋冬だいこん, 作付面積, ha)    40 non-null int64
(秋冬だいこん, 収穫量, t)      40 non-null int64
(秋冬だいこん, 出荷量, t)      40 non-null int64
(かぶ, 作付面積, ha)        40 non-null int64
(かぶ, 収穫量, t)          40 non-null int64
(かぶ, 出荷量, t)          40 non-null int64
(にんじん, 作付面積, ha)      40 non-null int64
(にんじん, 収穫量, t)        40 non-null int64
(にんじん, 出荷量, t)        40 non-null int64
(春夏にんじん, 作付面積, ha)    40 non-null int64
(春夏にんじん, 収穫量, t)      40 non-null int64
(春夏にんじん, 出荷量, t)      40 non-null int64
(冬にんじん, 作付面積, ha)     40 non-null int64
(冬にんじん, 収穫量, t)       40 non-null int64
(冬にんじん, 出荷量, t)       40 non-null int64
(ごぼう, 作付面積, ha)       40 non-null int64
(ごぼう, 収穫量, t)         40 non-null int64
(ごぼう, 出荷量, t)         40 non-null int64
(秋冬さといも, 作付面積, ha)    40 non-null int64
(秋冬さといも, 収穫量, t)      40 non-null int64
(秋冬さといも, 出荷量, t)      40 non-null int64
dtypes: int64(30)
memory usage: 9.7+ KB

In [150]:
# データ数が少ないため欠損値があるものは除外
chiba_df = chiba_df.dropna(axis=1)

In [151]:
chiba_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 昭.48(1973) to 平.24(2012)
Data columns (total 30 columns):
(だいこん, 作付面積, ha)      40 non-null int64
(だいこん, 収穫量, t)        40 non-null int64
(だいこん, 出荷量, t)        40 non-null int64
(春だいこん, 作付面積, ha)     40 non-null int64
(春だいこん, 収穫量, t)       40 non-null int64
(春だいこん, 出荷量, t)       40 non-null int64
(夏だいこん, 作付面積, ha)     40 non-null int64
(夏だいこん, 収穫量, t)       40 non-null int64
(夏だいこん, 出荷量, t)       40 non-null int64
(秋冬だいこん, 作付面積, ha)    40 non-null int64
(秋冬だいこん, 収穫量, t)      40 non-null int64
(秋冬だいこん, 出荷量, t)      40 non-null int64
(かぶ, 作付面積, ha)        40 non-null int64
(かぶ, 収穫量, t)          40 non-null int64
(かぶ, 出荷量, t)          40 non-null int64
(にんじん, 作付面積, ha)      40 non-null int64
(にんじん, 収穫量, t)        40 non-null int64
(にんじん, 出荷量, t)        40 non-null int64
(春夏にんじん, 作付面積, ha)    40 non-null int64
(春夏にんじん, 収穫量, t)      40 non-null int64
(春夏にんじん, 出荷量, t)      40 non-null int64
(冬にんじん, 作付面積, ha)     40 non-null int64
(冬にんじん, 収穫量, t)       40 non-null int64
(冬にんじん, 出荷量, t)       40 non-null int64
(ごぼう, 作付面積, ha)       40 non-null int64
(ごぼう, 収穫量, t)         40 non-null int64
(ごぼう, 出荷量, t)         40 non-null int64
(秋冬さといも, 作付面積, ha)    40 non-null int64
(秋冬さといも, 収穫量, t)      40 non-null int64
(秋冬さといも, 出荷量, t)      40 non-null int64
dtypes: int64(30)
memory usage: 9.7+ KB

In [152]:
chiba_df = chiba_df.fillna(value=0)
vegetable_name_list = chiba_df.columns.levels[0].values

In [164]:
scores = []

In [165]:
amount_of_crops = []
for vegetable_name in vegetable_name_list:
    vegetable_df = chiba_df[vegetable_name]
    if 'ha' not in vegetable_df['作付面積'].columns.values or 't' not in vegetable_df['収穫量'].columns.values:
         continue
    y = vegetable_df['収穫量'].t.values
    temp = []
    for i in vegetable_df['作付面積'].ha.values:
        temp.append(i)
    amount_of_crops.append(np.array(temp))

In [166]:
def transpose(matrix):
    return list(map(list, zip(*matrix)))

In [167]:
X_cp = list(X)

In [168]:
for amount_of_crop in amount_of_crops:
    X = list(X_cp)
    X.append(amount_of_crop)
    X = transpose(X)
    print(len(X), len(y))
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
    reg = RandomForestRegressor()
    reg.fit(X_train, y_train)
    scores.append(reg.score(X_test, y_test))

40 40
40 40
40 40
40 40
40 40
40 40
40 40
40 40
40 40
40 40

In [169]:
for i, j in zip(vegetable_name_list, scores):
    print(i, j)

かぶ -0.87647879788
ごぼう 0.050503159518
さといも -0.247969908178
その他さといも 0.306121260238
だいこん -0.729385344374
ながいも 0.0300193708007
にんじん 0.16070725866
ばれいしょ 0.383901819155
やまのいも -0.530591979378
れんこん 0.652234156789

In [162]:
X

[array(['1067.5', '1210.5', '1492.5', '1304.0', '1315.0', '808.0', '1164.0',
        '1479.0', '1141.0', '1471.0', '1352.5', '855.0', '1381.5', '1291.5',
        '1276.0', '1318.5', '1658.0', '1266.5', '1910.5', '1403.0',
        '1596.5', '1164.0', '1094.5', '1346.0', '939.5', '1345.5', '1330.5',
        '1329.0', '1482.0', '1370.0', '1594.5', '1670.5', '1314.5',
        '1726.0', '1190.0', '1639.0', '1636.5', '1525.0', '1258.5', '1614.0'], dtype=object),
 array(['88.0', '67.0', '109.0', '52.5', '97.0', '49.5', '109.0', '78.5',
        '120.5', '111.0', '74.0', '94.0', '83.0', '183.0', '101.0', '116.5',
        '137.0', '90.0', '181.5', '68.0', '179.5', '123.0', '91.0', '259.5',
        '53.5', '58.5', '173.0', '99.5', '185.0', '81.0', '162.0', '135.5',
        '96.0', '156.0', '110.0', '83.5', '112.5', '153.0', '92.5', '64.0'], dtype=object),
 array(['32.5', '32.0', '71.0', '39.0', '22.5', '15.5', '28.0', '26.5',
        '46.0', '36.0', '39.0', '37.0', '20.5', '70.0', '32.5', '32.5',
        '21.5', '36.0', '44.5', '32.5', '49.0', '42.0', '20.5', '42.5',
        '31.5', '23.0', '57.5', '50.0', '37.5', '38.0', '23.0', '43.0',
        '55.5', '28.0', '33.5', '39.5', '48.5', '68.0', '25.5', '54.5'], dtype=object),
 array(['12.5', '15.0', '17.5', '13.5', '12.5', '5.0', '11.5', '9.5',
        '11.5', '20.5', '13.0', '11.0', '7.0', '26.0', '19.0', '11.5',
        '11.0', '20.5', '11.5', '17.5', '13.5', '11.5', '10.0', '9.0',
        '16.0', '14.5', '19.5', '17.0', '14.0', '14.0', '11.0', '15.0',
        '14.5', '12.5', '10.0', '20.0', '28.0', '16.5', '11.5', '15.5'], dtype=object)]

[['1012.2', 1250, 2560],
 ['1012.1', 1290, 2590],
 ['1012.1', 1220, 2290],
 ['1012.4', 1200, 2220],
 ['1012.7', 1180, 2120],
 ['1012.2', 1220, 2020],
 ['1012.4', 1240, 2100],
 ['1011.9', 1220, 2210],
 ['1011.4', 1220, 2150],
 ['1011.9', 1220, 2190],
 ['1011.6', 1210, 2240],
 ['1012.2', 1200, 2330],
 ['1012.2', 1240, 2310],
 ['1011.4', 1280, 2310],
 ['1012.2', 1290, 2280],
 ['1010.9', 1280, 2300],
 ['1012.3', 1260, 2330],
 ['1012.6', 1260, 2270],
 ['1011.3', 1250, 2240],
 ['1011.9', 1220, 2210],
 ['1011.5', 1240, 2250],
 ['1011.5', 1260, 2230],
 ['1010.9', 1230, 2210],
 ['1011.7', 1230, 2160],
 ['1011.5', 1210, 2120],
 ['1012.4', 1220, 2140],
 ['1011.5', 1210, 2140],
 ['1011.3', 1210, 2110],
 ['1011.2', 1200, 2030],
 ['1011.3', 1220, 2000],
 ['1012.1', 1230, 1980],
 ['1012.1', 1230, 1960],
 ['1010.5', 1180, 1930],
 ['1011.5', 1130, 1930],
 ['1011.3', 1130, 1920],
 ['1011.6', 1120, 1900],
 ['1011.0', 1130, 1850],
 ['1011.8', 1080, 1810],
 ['1013.0', 1060, 1760],
 ['1012.9', 1020, 1710]]